adb/
tts/
deps/
icloud/
__pycache__/
www/
images/
custom_components/
secrets.yaml
known_devices.yaml
google_calendars.yaml
googlemaps.yaml
zones.yaml
plex.conf
*.conf
*.crt
*.csr
*.db
*.db-journal
*.db-shm
*.db-wal
*.json
*.key
*.log
*.pid
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.xml
.*
!.HA_VERSION
!.github
!.gitignore
!.gitkeep
